html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* img{
    max-width:100%;
    height: auto;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: 
    border-box; box-sizing: border-box; 
}

*, *:before, *:after{
    box-sizing: inherit;
}   

.sr-text {
    position: absolute;
    left: -999px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow:hidden;
    z-index:-999;
}

a.sr-text:focus, a.sr-text:active {
    color: #E3E4EA;
    background-color:#186684;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow: auto;
    margin: 10px 35%;
    padding: 5px;
    border-radius: 15px;
    border: 4px solid #E85B26;
    text-align: center;
    font-size: 1.2em;
    z-index: 999;
}

.visuallyhidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

ul, li{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: #000;
}

/* * * * COLOURS 

Pale Lilac 89 - #E3E4EA
Reddish Orange - #E85B26
Light Grey - #F4F4F4
Light Navy - #186684
Dark Grey - #1F2022

* * * */

/* * * * FONTS 

font-family: 'Catamaran', sans-serif;
font-family: 'Nova Flat', cursive;

* * * */

body{
    font-family: 'Catamaran', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
}

/* * * * HEADER * * * */

header{
    width: 100%;
    height: 800px;
    background: #E3E4EA;

}

.header-hero{
    position: relative;
    height: 800px;
    overflow: hidden;
    background: url(../assets/Optimized-image-1@2x.png) no-repeat center;
}

.header-hero, section.information-links /* DRY */{
    background-size: cover;
}

.front-n-center{
    position: absolute;
    top: 50%;
    right: 25%;
    background: #E3E4EADE;
    width: 450px;
}

h1, h2, h3 /* DRY */{
    font-family: 'Nova Flat', cursive;
    font-weight: normal;
}

h1, h2 /* DRY */{
    color: #186684;
    margin-top: 0;
    font-size: 30px;
}

h1{
    font-weight: normal;
    font-size: 110px;
    line-height: 110px;
    margin: 0;
    padding: 15px 5px;
}

/* * * * NAVIGATION * * * */

.main-nav, .footer-nav /* DRY */ {
    font-family: 'Nova Flat', cursive;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.main-nav ul{
    display: inline-block;
}

.main-nav ul li{
    float: left;
    padding: 20px;
}

.main-nav ul li a{
    color: #186684;
}

.main-nav ul li a:hover{
    color: #E85B26;
}

/* * * * SOCIAL NAVIGATION * * * */

.social-nav{
    position: absolute;
    right: 3%;
    top: 40%;
    width: 100%;
	display: block;
}

.social-nav ul{
    float: right;
}

.social-nav li{
    text-align: right;
}

.social-nav li a{
    color: #E85B26;
	display: block;
	padding: 5px;
    margin: 0;
}

.social-nav li a:hover{
    color: #1F2022;
}

a#mobile-nav, .mobile-nav-toggle, .mobile-nav, figure.halfway-size /* DRY */ {
    display: none;
}

/* * * * MAIN * * * */

main{
    position: relative;
}

h2{
    text-align: left;
    margin-bottom: 27px;
}

section .content{
    width: 100%;
}

.information-block, .reverse-block{
    float: left;
    padding: 100px;
    width: 50%;
    margin: 0 auto;
}

.information-block-photo, .reverse-photo{
    float: right;
    width: 50%;
    height: 534px;
}

.reverse-block{
    float: right;
}

.reverse-photo{
    float: left;
}

a.read-more, a.subscribe{
    font-family: 'Nova Flat', cursive;
    color: #186684;
    font-size: 18px;
    text-align: center;
    line-height: 29px;
    border: 1px solid #E85B26;
    border-radius: 2px;
    padding: 10px 15px;
    text-transform: uppercase;
}

/* * * * GIVING BACK * * * */

section.giving-back, footer /* DRY */ {
    background: #F4F4F4;
}

.giving-back-container{
    width: 80%;
    margin: 0 auto;
    padding: 50px 0 50px 50px;
}

.giving-back-photo{
    float: left;
    width: 30%;
}

.giving-back-information{
    float: right;
    width: 70%;
    padding: 0 20px;
}

.giving-back-information p{
    margin-bottom: 30px;
}

/* * * * INFORMATION LINKS * * * */

section.information-links{
    background: url(../assets/optimized-image-5@2x.png) no-repeat center;
    padding: 100px 0;
}

.links{
    width: 40%;
    margin: 0 auto;
    text-align: center;
    background: #F4F4F4;
}

.links ul li{
    float: left;
    text-align: center;
    width: calc(100% / 3);
    padding: 30px;
}

.links ul li a span.links-icon{
    color: #E85B26;
    display: block;
    font-size: 30px;
    line-height: 70px;
    margin: 0 auto;
}

.links ul li a{
    color: #186684;
}

/* * * * THE GRAM * * * */
section.the-gram{
    padding: 20px 0 60px 0;
}

.the-gram h2{
    text-align: center;
    margin: 40px;
}

.the-gram-container{
    margin: 0 auto;
    width: 990px;
}

figure.the-gram-photo{
	max-width: 330px;
    margin: 0;
    padding: 25px;
    position: relative;
    float: left;
}

.the-gram-photo figcaption{
	position: absolute;
	background:  rgba(0,0,0,0.4) url(../assets/photo-corners.png);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: #FFF;
	text-align: center;
	padding: 140px 15px;
	font-size: 18px;
	opacity: 0;
	transition: 0.3s;
}

figure:hover figcaption{
	opacity: 1;
}

.the-gram-photo figcaption a{
    color: #FFF;
    font-size: 35px;
    display: block;
}

figure.the-gram-photo img{
    display: block;
	width: 100%;
	height: 100%;
}

/* * * * FOOTER * * * */

footer{
    width: 100%;
}

.footer-nav{
    padding-top: 40px;
}

.footer-nav ul{
    display: inline-block;
}

.footer-nav ul li{
    float: left;
    padding: 10px;
}

h3{
    color: #E85B26;
    margin: 10px 0;
}

.footer-information-block{
    width: 80%;
    margin: 0 auto;
}

.footer-information-block p, .stay-updated p{
    font-size: 16px;
}

.contact-info{
    float: left;
    width: 50%;
}

span.address{
    display: block;
}

.stay-updated{
    float: right;
    width: 50%;
}

.stay-updated p{
    margin-bottom: 12px;
}

input[type=email]{
    font-size: 18px;
    width: 365px;
    padding: 6px;
}

a.subscribe{
    background: #186684;
    color: #fff;
}

.copyright-block{
    width: 100%;
    background: #1F2022;
    color: #E3E4EA;
    text-align: center;
    padding: 2px 0;
    font-size: 14px;
}

.copyright-block p{
    margin: 0;
}

/* * * * SMALLER SCREENS * * * */

@media only screen and (max-device-width : 1260px) {
    
    /* * * * #MAIN STYLES * * * */
    .links{
        width: 60%;
        /* padding: 15px 0; */
    }

    /* * * * FOOTER STYLES * * * */
    input[type=email] {
        width: 260px;
    }
}

@media only screen and (max-device-width : 1024px) {
   
    /* * * * HEADER STYLES * * * */
    header, .header-hero{
        height: 650px;
    }

    .front-n-center {
        right: 26%;
        width: 300px;
    }

    h1 {
        font-size: 70px;
        line-height: 70px;
    }

    /* * * * #MAIN STYLES * * * */
    
    .information-block, .reverse-block{
        padding: 50px;
    }

    .reverse-block{
        padding-top: 0;
    }

    .information-block-photo{
        padding: 50px;
        height: auto;
    }
    .reverse-photo{
        padding: 0 50px 50px 50px;
        height: auto;
    }

    .giving-back-container {
        width: 100%;
    }
        
    .links {
        width: 60%;
    }

     .the-gram-container{
        width: 660px;
    }

    figure.halfway-size{
        display: inline-block;
    }
    

    /* * * * FOOTER STYLES * * * */
    a.subscribe {
    display: block;
    margin: 15px 0;
    width: 260px;
    }
}

/* * * * MEDIUM SIZE * * * */

@media only screen and (max-device-width : 800px) {

    /* * * * #MAIN STYLES * * * */

    h2{
        text-align: center;
        font-size: 42px;
    }

    .giving-back-information h2, .the-gram h2{
        margin: 27px 0;
    }

    .information-block, .information-block-photo, .information-block-photo img, .reverse-block, .reverse-photo img, .giving-back-photo, .giving-back-information, .contact-info, .stay-updated  /* DRY */{
        float: none;
        width: 100%;
        padding: 0;
    }

    .information-block, .information-block-photo, .giving-back-photo, .contact-info, .stay-updated /* DRY */{
        text-align: center;
    }

    .information-block{
        padding: 15px;
        margin: 15px 0;
    }

    .giving-back-container {
        padding: 50px 0;
    }

    .giving-back-information {
        padding: 0 20px;
    }

    a.read-more{
        display: block;
        width: 165px;
        margin: 0 auto;
        border: 2px solid #E85B26;
    }

    section.information-links {
        padding: 15px 0;
    }

    .links{
        width: 70%;
        padding: 15px 0;
    }

    .links ul li {
        float: none;
        width: 100%;
        padding: 10px 30px;
    }

    .links ul li a{
        font-family: 'Nova Flat', cursive;
        font-size: 25px;
    }

    .links ul li a span.links-icon{
        font-size: 60px;
        line-height: 65px;
    }

     .links ul li a span.mobile-icon{
        font-size: 35px;
     }

    /* * * * FOOTER STYLES * * * */

    .footer-information-block {
        padding: 0 15px 15px 15px;
    }

    .footer-information-block p{
        font-size: 18px;
    }

    .footer-nav ul li {
        padding: 20px;
    }

    input[type="email"]{
        margin-bottom: 15px;
        text-align: center;
        width: 100%;
    }

    a.subscribe{
        margin: 0 auto;
        width: 100%;
        border: 2px solid #E85B26;
    }
}

/* * * * MEDIUM SIZE * * * */
@media only screen and (max-device-width : 700px) {

    /* * * * #MAIN STYLES * * * */

    .the-gram-container{
        width: 90%;
    }

    figure.the-gram-photo{
        width: 50%;
        padding: 10px;
    }

    figcaption, figure.mobile-sizing, figure.halfway-size{
        display: none;
    }
}

/* * * * SMARTPHONES * * * */
@media only screen and (max-device-width : 480px) {
   /* * * * HEADER STYLES * * * */
   header{
       height: 600px;
   } 

   .header-hero{
        background: url(../assets/Optimized-image-1-m@2x.png) no-repeat center;
        height: 100%;
    }

    .front-n-center {
        top: 45%;
        right: 15%;
        width: 270px;
    }

    h1{
        font-size: 70px;
        line-height: 70px;
    }

    .main-nav, .social-nav{
        display: none;
    }

    .information-block-photo, .reverse-photo{
        height: 300px;
        overflow: hidden;
    }

    /* * * * MOBILE NAV * * * */
    .mobile-nav-toggle {
        display: block;
        text-align: right;
        padding: 15px;
        line-height: 40px;
        font-size: 40px;
        color: #333;
        }

    .mobile-nav:hover,
    .mobile-nav:focus {
        color: #E85B26;
        }

    .mobile-nav {
        position: absolute;
        display: none;
        right: -200px;
        top: 0;
        overflow-y: scroll;
        overflow-x: visible;
        transition: left 0.3s ease,
        box-shadow 0.3s ease;
        z-index: 20;
    }

    .mobile-nav ul {
        list-style: none;
        margin: 0;
        padding-top: 69px;
        height: 100%;
        width: 350px;
        background: #1a1a1a;
    }

    .mobile-nav a {
        display: block;
        padding: 15px;
        line-height: 39px;
        font-size: 30px;
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid #383838;
    }

    .mobile-nav li:first-child a {
        border-top: 1px solid #383838;
    }

    .mobile-toggle a:hover,
    .mobile-toggle a:focus {
        background: #333;
        text-decoration: underline;
    }

    .mobile-nav a.nav-close, a#mobile-nav-close {
        position: absolute;
        left: 0;
        top: 0;
    }

    .mobile-nav:target,
    .mobile-nav[aria-expanded="true"] {
        display: block;
        right: 0;
        outline: none;
        -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
        -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
        box-shadow: 3px 0 12px rgba(0,0,0,.25);
    }

    .mobile-nav:target .nav-close,
    .mobile-nav[aria-expanded="true"] a.nav-close {
        z-index: 20;
    }

    .mobile-nav:target ul,
    .mobile-nav[aria-expanded="true"] ul {
        position: relative;
        z-index: 10;
    }

    .mobile-nav:target + .backdrop,
    .mobile-nav[aria-expanded="true"] + .backdrop{
        position: absolute;
        display: block;  
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background: #000;
        background: rgba(0,0,0,.85);
        cursor: default;
    }

    @supports (position: fixed) {
    .mobile-nav,
    .mobile-nav:target + .backdrop,
    .mobile-nav[aria-expanded="true"] + .backdrop{
        position: fixed;
        }
    }


}